*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfcfa; /* opcional, para contraste */
}

.mainCard{
  background: linear-gradient(#fff, #fbffff);
  width: 90vw;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px #39393938;
}

img{
  width: 100%;
  display: block;
}

.mainCard .diego {
  margin-top: 35px;
  margin-left: 35px;
  width: 85%;
  height: 250px;
  max-height: 40vh; /* limita la altura de la imagen */
  object-fit: cover; /* recorta sin deformar */
  border-radius: 10px;
}

h2{
  color: #000;
  text-align: center;
  margin-top: 10px;
}

.category{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background: #aa00ff;
  color: #111111;
  margin: 10px 0 0 20px;
  font-weight: 600;
}

.profile h3{
  color: #111;
}

p{
  color: #000;
  padding: 20px;
  text-align: justify;
}

.profile{
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}